    .form-group {
        color: #B22222;
        font-size: 25px;
        font-weight: bolder;
    }
    
    .form-control {
        border: 2px solid black;
    }
    
    .b92 {
        border: 1px solid black;
        width: 70%;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 0 0 5px black;
    }
    
    .form-button {
        padding: 8px 30px;
        outline: none;
        border: none;
        border-radius: 50px;
        font-weight: bold;
        color: orangered;
        box-shadow: inset 0 0 20px rgb(16, 16, 17);
    }
    
    .form-button:hover {
        color: rgb(96, 96, 99);
        box-shadow: inset 0 0 20px orangered;
    }
    
    .form-button:disabled {
        color: rgb(199, 44, 44);
        box-shadow: inset 0 0 20px rgb(63, 62, 62);
    }
    
    body {
        font-family: Arial;
        padding: 10px;
        background-color: pink;
    }
    
    .header {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
        background: rgb(250, 251, 252);
        color: black;
        border: 1px solid gray;
    }
    
    .header h1 {
        font-size: 40px;
    }
    
    .header p {
        font-size: 20px;
        color: darkred;
        font-style: italic;
    }
    
    .topnav {
        overflow: hidden;
        background-color: rgb(253, 153, 153);
        border: 1px solid gray;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: rgb(19, 19, 20);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .topnav a:hover {
        background-color: rgb(235, 172, 186);
        color: white;
        padding: 10px;
    }