* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color: gray;
}

.header {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background: rgb(250, 251, 252);
    color: black;
    border: 1px solid black;
}

.header h1 {
    font-size: 40px;
}

.header p {
    font-size: 20px;
    color: rgb(71, 70, 70);
    font-style: italic;
}

.topnav {
    overflow: hidden;
    background-color: rgb(60, 60, 61);
    border: 1px solid black;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(19, 19, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(46, 46, 48);
    color: white;
    padding: 10px;
}

.anh {
    width: 200px;
    height: 100px;
    right: 30%;
    float: right;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.centercolumn {
    float: left 25px;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #c5e0f1;
    padding-left: 20px;
}

.card-news {
    border: 1px solid black;
    width: 90%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    height: 170px;
    float: left;
}

.card-news:hover {
    transform: scale(1.1);
    background-color: rgb(51, 52, 53);
    color: rgb(247, 248, 250);
    padding: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row:hover {
    border: 1px solid black;
}

.card-card {
    border: 1px solid black;
    background-color: rgb(61, 59, 59);
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    height: 250px;
}

.card {
    border: 1px solid black;
    background-color: #3e3e3f;
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    height: 650px;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgb(238, 239, 243);
    color: rgb(111, 111, 112);
    padding: 10px;
}

#slide {
    height: 40px;
    background-color: mintcream;
}

#slide h2 {
    line-height: 25px;
    font-size: 20px;
    color: rgb(10, 9, 9);
}

.footer {
    border: 1px solid black;
    background-color: rgb(54, 53, 53);
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 25px;
}

.hang1 {
    width: 20%;
    float: left;
    margin: 15px;
}

.hang2 {
    width: 75%;
    float: right;
    text-align: justify;
}

.hang::after {
    content: "";
    display: table;
}

.hang2>a {
    text-decoration: none;
    font-size: 30px;
    font-variant: small-caps;
    color: rgb(245, 12, 12);
}

.hang2>a:hover {
    color: rgb(226, 250, 9);
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%,
    100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}